<h2>Artist Sign up</h2>

<p class="col-lg-8">If you are paving your own way as a performer, you have come to the right place.
                    Pocket Stage is focused on giving you, the Artist, a platform for advertising everyone
                    of your performances and building a strong (and dedicated) audience. Let's get started!</p>

<div class="mt-5">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="">
        <%= f.submit "Sign up", class: "btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= render "musical_entities/shared/links" %>
